body {
     background: #ffffff url('bg5.png') top center no-repeat fixed;
	 background-size: cover;
     margin: 10px 0 30px 0;
     padding: 0;
     font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
     font-size: 14px;
     text-align: center;
     color: #000000;
}

/* Typography	
-------------------------------------------------------------------------- */

p, ul, ol {
	margin-bottom: 1.2em;
	line-height: 120%;
	text-align: justify;
}

ul, ol {
	margin-left: 2em;
}

#footer_left p {
     font-size: 10px;
     line-height: 1.6em;
     margin:  0;
     padding: 0;
}

#footer_right p {
     text-align: center;    
     font-size: 10px;
     font-weight: bold;
     line-height: 1.6em;
     margin:  0;
     padding: 0;
}

h1, h2, h3, h4, h5 {
     font: normal "Trebuchet MS", Arial, Helvetica, sans-serif;
     color: #000000;
     margin: .2em 0 .4em 0;
}

h1 { font-size: 1.5em;  letter-spacing: -.02em; }
h2 { font-size: 1.4em; letter-spacing: .02em;  }
h3 { font-size: 1.3em; }
h4 { font-size: 1.2em; letter-spacing: -.02em;}
h5 { font-size: 1.2em; }

em { color: #359548 }
pre {
   background: #F4F4F4 url(code.gif);
   font-family:Arial;
   font-size:12px;
   border: 1px solid;
   border-color:#cccccc;
   border-radius: 4px;
   margin: 10px 5px 10px 0;
   padding: 5px;
   overflow:auto;
}
.code {
   background: #F4F4F4 url(code.gif);
   font-family:Arial;
   font-size:12px;
   border: 1px solid;
   border-color:#cccccc;
   border-radius: 4px;
   margin: 10px 5px 10px 0;
   padding: 5px;
   overflow:auto;
}

/* Hyperlinks
-------------------------------------------------------------------------- */   

a:link, a:visited, a:active { 
     background-color: transparent;
     color: #000000; 
     text-decoration: none;
}

a:hover { 
     background-color: transparent;
     color: #000000; 
     text-decoration:underline;
}
#header h1 { 
     font-size: 2.6em;
     padding-top: 80px;
     margin: 0 0 0 60px;
     line-height: 1.4em;
     color: #E0E0E0;
}   
#header h2 { 
     font-size: 1.2em;
     letter-spacing: 0.2em;
     margin: 0 0 0 120px;
     line-height: 1.2em;
     font-weight: normal;
     color: #FFFFFF;
}    

#header a:link, #header a:visited, #header a:active { 
     background-color: transparent;
     color: #fcefe8; 
     text-shadow:2px 3px 6px #000;
     text-decoration: none;
}

#header a:hover { 
     background-color: transparent;
     color: #FFD350; 
     text-decoration: none;
}


/* Unordered Lists	
-------------------------------------------------------------------------- */

#content ul {
     margin-left: 0;
     padding-left: 0;
     list-style: none;
     font-size: 1em;
     line-height: 1.5em;
     margin: 0 0 1.4em 0;
}

#content li {
	margin-top: 2px;
	margin-left: 15px;
}

#menu_bar ul {
     border-radius: 20px;
     padding: 1%;
     margin: 0;
	 background: #30d5c8;
     background-color: #30d5c8 url('75.png');
     color: White;
     float: right;
     width: 100%;
     font-size: 1.2em;
     font-weight: bold;
     clear:both;
	 border-radius: 20px;
}

#menu_bar ul li { display: inline;margin: 0; }

#menu_bar ul li a {
     padding: 10px 20px;
     background-color: #30d5c8 url('75.png') top left no-repeat;	 
     color: White;
     text-shadow:1px 1px 2px #000;
     text-decoration: none;
     float: left;
	 border-radius: 20px;
     border-right: 1px solid #fff;
     margin: 0
}

#menu_bar ul li a:hover, #menu_bar ul .currentr {
     background: url('75.png') top left no-repeat;
     background-color: #30d5c8 url('75.png') top left no-repeat;
     color: #fff;
     margin: 0
}
#home #menu_bar #home, #firma #menu_bar #firma, #news #menu_bar #news, #servis #menu_bar #servis, #files #menu_bar #files, #photo #menu_bar #photo, #stati #menu_bar #stati, #contact #menu_bar #contact {background-color: #F7BC5B;color: #fff;margin: 0}

/* Page Structure	
-------------------------------------------------------------------------- */

#wrapper {
     margin: 0px auto 0px auto;
     padding: 0;
     background: url('123.png') top left no-repeat;
     width: 969px;
     border-radius: 6px;
     text-align: left;
     font-size: 1.1em;
     line-height: 1.6em;
}

#header {
     margin: 150px 10px 0 10px;
     padding: 0px;
     background: #E6E6E6 url('header4.png') top left no-repeat;
     height: 276px;  
     clear:both;  
     border: 8px solid #30d5c8;	 
	 border-radius: 6px;
}

#menu_bar {
     margin: 10px 255px 0px 350px;
     padding: 0px;
	 height: 0px;
	 width: 620px;
     background: #ffffff;
     clear:none;
	 border-radius: 20px;
}

/* Главное меню */
#menu
{
        width: 595px;
        margin: -10px 0 0 369px;
        padding: 10px 0 0 15px;
        list-style: none;
        background: #ffffff;
        background: -moz-linear-gradient(#532127,  #ba5460);
        background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #532127),color-stop(1, #ba5460));
        background: -webkit-linear-gradient(#ba5460, #532127);
        background: -o-linear-gradient(#ba5460, #532127);
        background: -ms-linear-gradient(#ba5460, #532127);
        background: linear-gradient(#ba5460, #532127);
        -moz-border-radius: 20px;
        border-radius: 20px;
        -moz-box-shadow: 0 2px 1px #532127;
        -webkit-box-shadow: 0 2px 1px #532127;
        box-shadow: 0 2px 1px #532127;
}

#menu li
{
        float: left;
        padding: 0 0 10px 0;
        position: relative;
}

#menu a
{
        float: left;
        height: 25px;
        padding: 0 11px;
        color: #ffffff;
        text-transform: uppercase;
        font: bold 12px/25px Arial, Helvetica;
        text-decoration: none;
        text-shadow: 0 1px 0 #000000;
}

#menu li:hover > a
{
        color: #fafafa;
}

*html #menu li a:hover /* IE6 */
{
        color: #fafafa;
}

#menu li:hover > ul
{
        display: block;
}

/* Подменю */

#menu ul
{
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #ffffff;
    background: -moz-linear-gradient(#ba5460, #532127);
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #111),color-stop(1, #444));
    background: -webkit-linear-gradient(#ba5460, #532127);
    background: -o-linear-gradient(#ba5460, #532127);
    background: -ms-linear-gradient(#ba5460, #532127);
    background: linear-gradient(#ba5460, #532127);
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul li
{
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child
{
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a
{
    padding: 10px;
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    float: none;
        text-transform: none;
}

*html #menu ul a /* IE6 */
{
        height: 10px;
        width: 150px;
}

*:first-child+html #menu ul a /* IE7 */
{
        height: 10px;
        width: 150px;
}

#menu ul a:hover
{
        background: #0186ba;
        background: -moz-linear-gradient(#532127,  #ba5460);
        background: -webkit-gradient(linear, left top, left bottom, from(#532127), to(#ba5460));
        background: -webkit-linear-gradient(#532127,  #ba5460);
        background: -o-linear-gradient(#532127,  #ba5460);
        background: -ms-linear-gradient(#532127,  #ba5460);
        background: linear-gradient(#532127,  #ba5460);
}

#menu ul li:first-child a
{
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child a:after
{
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #532127;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #532127;
}

#menu ul li:first-child a:hover:after
{
    border-bottom-color: #532127;
}

#menu ul li:last-child a
{
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu:after
{
        visibility: hidden;
        display: block;
        font-size: 0;
        content: " ";
        clear: both;
        height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */

#breadcrumb {
     margin: -10px 0 25px 610px;
     
     padding: 8px 0 2px 0;
	 color: #ffffff;
     clear:both;
	 font-weight: 590;
	 font-family: COMIC SANS MS, Geneva, sans-serif;
	 font-size: 23px;
}

#breadcrumb2 {
    margin: -17px 15px 13px 740px;
    padding: 4px 0 4px 10;
    color: #532127;
    border: 0px solid #30d5c8;
    border-radius: 6px;
    clear: both;
    font-size: 18px;
    font-weight: bold;
}

#breadcrumb3 {
     margin: -18px -13px 10px -19px;
     border-bottom:0px solid #dddddd;
     padding: 10px 0 2px 2px;
     clear:both;
}

#logo {
     height: 180px;
	 width: 245px;
	 background: url('logo.png') top left repeat-y;
	 margin: 0px 20px 10px 20px;
	 position: absolute;
	 color: #000000;
     clear:both;
}

#content {
     margin: 0 10px 0 10px;
     padding: 10px;
     background: #ffffff url('content2.jpg') top right repeat-y;
     clear:both; 
	 border: 6px solid #532127;	 
	 border-radius: 20px;
}

#left {
     float: left;
     width: 901px;
     margin: 0px 0 25px 10px;
     padding: 0px;
     text-align: justify
}

#right {
     float: right;
     width: 190px;
     margin:  10px 0 10px 0;
     padding: 0px;
     font-size: 14px;
}   
#right li {
     padding-left: 16px;
     margin-bottom: 2px;
     background-image: url(arrow.gif);
     background-repeat: no-repeat;
     background-position: 0 .5em;
     list-style: none;
     color: #202020;
     font-size: 14px;
}
img[tabindex="0"] {
  cursor: zoom-in;
}
img[tabindex="0"]:focus {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 99%;
  max-height: 99%;
  margin: auto;
  box-shadow: 0 0 20px #000, 0 0 0 1000px rgba(210,210,210,.4);
}
img[tabindex="0"]:focus,  /* убрать строку, если не нужно, чтобы при клике на увеличенное фото, оно возвращалось в исходное состояние */
img[tabindex="0"]:focus ~ * {
  pointer-events: none;
  cursor: zoom-out;
}
ul#portfolio-list li { 
	float:left;
	display:block;
	/* width:280px;*/
	padding:10px; 
	margin:20px 0px 0px 72px;
	width:794px;
	border:1px #575757 solid;
	background-color:#313131;
	}

ul#portfolio-list li .content_block img{ float:left; margin-right:20px; }
ul#portfolio-list li .content_block h2 a{ font-size:16px; text-decoration:none; padding-top:10px; display:block;}
ul#portfolio-list li .content_block p{ font-size:10px; line-height:18px;}
ul#portfolio-filter a{ 
	display:block;
	padding:10px 0px 10px 20px;
	color: #d9d9d9;
	border-bottom:1px #d9d9d9 dotted;
	width:170px;
	text-decoration:none;
	font-size:13px;
	background: no-repeat url('../images/menu_arrow.jpg') 0 15px;
	}
ul#portfolio-filter a:hover, ul#portfolio-filter a.current{  
	display:block;
	padding:10px 0px 10px 20px;
	color: #FFF;
	border-bottom:1px #FFF solid;
	width:170px;
	text-decoration:none;
	font-size:13px;
	background: no-repeat url('../images/menu_arrow_on.jpg') 0 15px;
	}
/***************************************************** GALLERY ****/
ul#gallery-list li { 
	float:left;
	display:block;
	width:193px;
	padding:5px; 
	margin:5px 10px 10px 10px;
	border:1px #575757 solid;
	background-color:#313131;
	}
#gallery_menu{
	display:block;
	width:700px;
	margin:0px 0px 10px 60px;
	}
	
ul#gallery-list li .content_block img{ clear:both; display:block; margin-bottom:10px;  }
ul#gallery-list li .content_block h2 a{ font-size:13px; text-decoration:none; padding-top:5px; display:block;}
ul#gallery-list li .content_block p{ font-size:10px; line-height:18px; padding-top:4px;}
ul#gallery-list li:hover{ border:1px #575757 solid; background-color:#222222; }
ul#gallery-list li a{ color:#E94F43;  text-decoration:none;}


ul#gallery-filter{ margin: 5px 0; padding: 0; height: 64px;  line-height: 64px; background: transparent url(../images/icon-tag-green.png) left no-repeat; }
ul#gallery-filter li{ display: inline; color: #888;  text-decoration: none; }
ul#gallery-filter a{ color: #AAA;  text-decoration: none; }
ul#gallery-filter a:hover, ul#gallery-filter a.current{ color: #000; }
ul#gallery-filter a.current{ background-color: #DDD; color:#000;}


.sidebar {
     padding: 5px;
     margin-bottom: 0px;
}

#footer {
     margin: 0 10px 0 10px;
     padding:  0;
     border-top: 0px solid #DDDDDD;
}

#footer_padding {
     padding: 4px;
}

#footer_left {
     float: left;
     text-align: center;    
     margin:  5px 0 0 0;
     width: 730px; 
}

#footer_right {
     float: right;
     margin:  2px;
     width: 184px; 
     background: #F4F4F4;
     padding: 0;
     border: 1px solid #D4D4D4;
}
/* Слайдер */
.slides {
    height:300px;
    margin:20px 0px 0px -12px;
    overflow:hidden;
    position:relative;
    width:977px;
	border: 8px solid #532127;	 
	border-radius: 10px;
}
.slides ul {
    list-style:none;
	margin:0px 0px 0px 0px;
    position:relative;
}

/* Кадры анимации #anim_slides */
@-webkit-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}
@-moz-keyframes anim_slides {
    0% {
        opacity:0;
    }
    6% {
        opacity:1;
    }
    24% {
        opacity:1;
    }
    30% {
        opacity:0;
    }
    100% {
        opacity:0;
    }
}

.slides ul li {
    opacity:0;
    position:absolute;
    top:0;

    /* анимация css3 */
    -webkit-animation-name: anim_slides;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_slides;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

/* Задержки css3 */
.slides ul  li:nth-child(2), .slides ul  li:nth-child(2) div {
    -webkit-animation-delay: 6.0s;
    -moz-animation-delay: 6.0s;
}
.slides ul  li:nth-child(3), .slides ul  li:nth-child(3) div {
    -webkit-animation-delay: 12.0s;
    -moz-animation-delay: 12.0s;
}
.slides ul  li:nth-child(4), .slides ul  li:nth-child(4) div {
    -webkit-animation-delay: 18.0s;
    -moz-animation-delay: 18.0s;
}
.slides ul li img {
    display:block;
}

/* Кадры анимации #anim_titles */
@-webkit-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}
@-moz-keyframes anim_titles {
    0% {
        left:100%;
        opacity:0;
    }
    5% {
        left:10%;
        opacity:1;
    }
    20% {
        left:10%;
        opacity:1;
    }
    25% {
        left:100%;
        opacity:0;
    }
    100% {
        left:100%;
        opacity:0;
    }
}

.slides ul li div {
    background-color:#000000;
    border-radius:10px 10px 10px 10px;
    box-shadow:0 0 5px #FFFFFF inset;
    color:#FFFFFF;
    font-size:26px;
    left: 500;
    margin:0px -100px 100px;
    padding:15px;
    position:absolute;
    top:85%;
    width:360px;
	height:15px;

    /* Анимация css3 */
    -webkit-animation-name: anim_titles;
    -webkit-animation-duration: 24.0s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: normal;
    -webkit-animation-delay: 0;
    -webkit-animation-play-state: running;
    -webkit-animation-fill-mode: forwards;

    -moz-animation-name: anim_titles;
    -moz-animation-duration: 24.0s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: normal;
    -moz-animation-delay: 0;
    -moz-animation-play-state: running;
    -moz-animation-fill-mode: forwards;
}

.spacer { clear:both }

/***** news *****/
.news {
   border: 1px solid #DCDCDC;
   background-color: #ffffff;
   border-radius: 6px;
   color: #ffffff;
   padding: 3px 10px 5px 10px ;
   margin: 10px 0 30px 0 ;
   white-space: pre-wrap;}
.news pre {
   border: 1px solid #DDDCDC;
   background:url(code.gif);
   padding: 5px;
   margin: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 12px;
   white-space: pre-wrap;
}
.news-title { border-bottom: 1px dotted #DCDCDC;padding: 0 10px 5px 0 ;font-weight: bold;font-size: 18px; color: #336699}
.news-title a{ text-decoration:none;color: #FF8000}
.news-title a:hover{ text-decoration:none;color: #336699}
.news-date {
  float: left;
   border: 1px solid #ffffff;
   background-color: #FFFFFF;
   border-radius: 4px;
   color: #ffffff;
   padding: 3px 10px 5px 10px ;
   margin: 10px 0 10px 0 ;
   font-size: 12px;
}
.last-news-title {font-weight: bold; color: #FF7328; padding-top: 5px; clear: both}
.last-news-title a{ color: #FF7328; text-decoration: none; }
.last-news-title a:hover {color: #3C8EC4}
.last-news-mess {margin-bottom: 1px }
.last-news-mess pre {
   border: 1px solid #DDDCDC;
   background-color: #FFFFFF;
   padding: 5px;
   margin: 5px;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 10px;
   white-space: pre-wrap;
}
#guestbook #captcha { margin: 0 0 -5px 0 !important; }
.error {
  border: 1px solid #F1008B;
  background-color: #FFDFF1;
  color: #FF3366;
  padding: 3px 10px;
}
.info{
  border: 1px solid #66CC00;
  background-color: #F0FFC4;
  color: #66CC00;
  padding: 3px 10px;
}
.guestbook{
  border-collapse: collapse;
  width:100%;
}
.guestbook TD{
  padding: 3px;
}
.guestbook input,.guestbook textarea {
    width:100%;
    border: 1px solid #969696;
    color: #3E3E3E;
}
.guestbook input:hover,.guestbook textarea:hover {
    border-color: #000;
    color: #000;
}
.gb_post{
  background-color: #EAEAEA;
  border: 1px solid #D3D3D3;
  padding: 3px;
  margin:5px 0;
  position: relative;
}
.gb_subj{
  font-weight: bold;
  border-bottom: 1px dashed #D3D3D3;
}
.gb_date{
  font-style: italic;
  color: #7F7F7F;
  padding-left: 5px;
  font-weight: normal;
  float: right;
  font-size: 80%;
}
.gb_author {
  color: #FF3366;
  padding-left: 20px;
  line-height: 20px;
  background-image: url(images/mail.png);
  background-repeat: no-repeat;
}
.gb_message{
  clear: both;
}
.gb_comment_link{
  background-image: url(images/comments.png);
  background-repeat: no-repeat;
  color: #FF3366;
  padding-left: 20px;
  line-height: 20px;
  margin-left: 10px;
}
.gb_comment{
  background-color: transparent;
  border: 1px dashed #D3D3D3;
  padding: 3px;
  margin:5px 0 5px 20px;
  position: relative;
}
.gb_nav a{
  border:1px solid #D3D3D3;
  background-color: #E8E8E8;
  text-decoration: none;
  padding:1px;
  margin: 1px;
  color: #000000;
}
.gb_nav a:hover{
  color: #F1008B;
  border-color: #F1008B;
}
.gb_nav a.current{
  font-weight: bold;
  color: #F1008B;
  border-color: #F1008B;
}
/****** форма обратной связи ******/
.feedback{
    border:0;
    width:100%;
}
.feedback table { 
    width: 98%; 
    border: 0 #fff; 
    border-collapse: collapse;
}
.feedback th { 
    text-align: left;
    background: #ccc; 
    padding: 5px; 
    border: 0 #fff; 
}
.feedback td { 
    padding: 5px; 
    border: 0 #fff; 
}
.feedback input,.feedback textarea {
    width:98%;padding: 3px;
}
.feedback input:hover,.feedback textarea:hover{
    border-color: #000;
    color: #000;
}
.paginator a{text-decoration:none;padding:0 4px;color:#707070;background-color:#F4F4F4;margin:0;border:solid 1px #E0E0E0;}
.paginator a:hover{background-color:#4EC300;border:solid 1px #42639C;color:#FFF;}
.paginator *{margin-left:6px;}
.paginator a.selected{color:#FFFFFF;background-color:#C0C0C0;border:solid 1px #42639C;margin:0 2px;}

